include _templates/currentUser
include _templates/taskList
include _templates/group

link(rel="stylesheet", href="/stylesheets/main.min.css")
script(src="/javascript/vendor/require.js", type="text/javascript", data-main="/javascript/app/main.js")
