div#current-user(data-bind="page:{id:'currentUser'}")
  span Welcome,
  input(type="text", data-bind="value: name, event{change: onChangeName}")
  div
    div(data-bind="text: createdAt")
    div(data-bind="text: updatedAt")
hr
