div#tasks
    
  div add a new task
  div
    label(for="task name") name : 
    input(type="text", name="new-task-name")
  div
    label(for="task pomodoro") pomodoros : 
    input(type="text", name="new-task-pomodoro")
  div
    button(name="add-task", data-bind="click:addTask") Add 

  div id
    div(data-bind="text: id")
  div name
    div(data-bind="text: name")
  div total of pomodoros
    div(data-bind="text: totalPomodoros")
  div total of taskers
    div(data-bind="text: totalTaskers")

  ul(data-bind="foreach: list")
    li id 
      div(data-bind="text: id")
    li name
      div
        input(name="taskName", type="text", data-bind="value: name, event{change: onUpdate}")
    li created
      div(data-bind="text: createdAt")
    li updated
      div(data-bind="text: updatedAt")
    li pom
      input(data-bind="value: pomodoro, event{change:$root.onChangePomodoro, change:onUpdate}")
    li taskers 
      ul(data-bind="foreach: taskers")
        li id 
          div(data-bind="text: id")
        li name
          div(data-bind="text: name")
          ul(data-bind="foreach: list")
            li name
              div(data-bind="text:name")

    hr
